In [1]:
import os
import sys
sys.path.insert(0, "..")
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
# Load dataframes
suppress_rule_df = pd.read_csv("../../_dump/learned_attacks/learned_suppress_rule.csv")
knowledge_amnesia_df = pd.read_csv("../../_dump/learned_attacks/learned_knowledge_amnesia.csv")
coerce_state_df = pd.read_csv("../../_dump/learned_attacks/learned_coerce_state.csv")

In [3]:
knowledge_amnesia_df.columns.values

array(['reasoner_type', 'reasoner_seed', 'attacker_seed', 'num_vars',
       'embed_dim', 'num_attack_tokens', 'raw_state_acc',
       'adv_ns0_state_acc', 'adv_ns1_state_acc', 'adv_ns2_state_acc',
       'adv_ns3_state_acc', 'adv_ns1_atk_wts', 'adv_ns2_atk_wts',
       'adv_ns3_atk_wts', 'adv_suffix_conseq_amnesia_avg',
       'adv_suffix_conseq_others_avg'], dtype=object)

In [4]:
def get_col_as_np(df, tgt_col_name, filter_kvs = [], sort_by="num_attack_tokens"):
    for k, v in filter_kvs:
        df = df[df[k].eq(v)]
    df = df.sort_values(by=[sort_by])
    x = df[sort_by].to_numpy()
    y = df[tgt_col_name].to_numpy()
    return x, y

In [5]:
pd.set_option('display.precision', 2)
suppress_rule_df[[
    "num_vars",
    "embed_dim",
    "adv_ns3_state_acc",
    "raw_ns2_suppd_wts",
    "raw_ns2_other_wts",
    "adv_ns2_suppd_wts",
    "adv_ns2_other_wts",
]]

,num_vars,embed_dim,adv_ns3_state_acc,raw_ns2_suppd_wts,raw_ns2_other_wts,adv_ns2_suppd_wts,adv_ns2_other_wts
0,64,128,0.97,0.29,0.29,0.18,0.18
1,48,96,0.97,0.28,0.28,0.18,0.18
2,32,64,0.99,0.27,0.27,0.17,0.17
3,16,32,0.96,0.25,0.25,0.16,0.16

In [6]:
pd.set_option('display.precision', 3)
knowledge_amnesia_df[[
    "num_vars",
    "embed_dim",
    "adv_suffix_conseq_amnesia_avg",
    "adv_suffix_conseq_others_avg",
]]

,num_vars,embed_dim,adv_suffix_conseq_amnesia_avg,adv_suffix_conseq_others_avg
0,64,128,0.860,0.105
1,48,96,1.009,0.114
2,32,64,0.666,0.077
3,16,32,1.262,0.102

In [7]:
coerce_state_df.columns.values

array(['reasoner_type', 'reasoner_seed', 'attacker_seed', 'num_vars',
       'embed_dim', 'num_attack_tokens', 'raw_state_acc',
       'adv_ns0_state_acc', 'adv_ns1_state_acc', 'adv_ns2_state_acc',
       'adv_ns3_state_acc', 'adv_ns1_atk_wts', 'adv_ns2_atk_wts',
       'adv_ns3_atk_wts', 'adv_suffix_size_avg', 'raw_tokens_size_avg'],
      dtype=object)

In [9]:
pd.set_option('display.precision', 2)
coerce_state_df[[
    "num_vars",
    "embed_dim",
    "adv_ns3_state_acc",
    "adv_suffix_size_avg",
    "raw_tokens_size_avg"
]]

,num_vars,embed_dim,adv_ns3_state_acc,adv_suffix_size_avg,raw_tokens_size_avg
0,64,128,0.49,374.46,5.90
1,48,96,0.59,148.19,5.89
2,32,64,0.48,105.73,5.86
3,16,32,0.39,66.34,5.79