In [27]:
import os
import sys
sys.path.insert(0, "..")
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [28]:
# Load dataframes
suppress_rule_df = pd.read_csv("../../_dump/learned_attacks/learned_suppress_rule.csv")
knowledge_amnesia_df = pd.read_csv("../../_dump/learned_attacks/learned_knowledge_amnesia.csv")

In [29]:
suppress_rule_df.columns.values

array(['reasoner_type', 'reasoner_seed', 'num_vars', 'embed_dim',
       'num_repeats', 'raw_state_acc', 'adv_ns1_state_acc',
       'adv_ns2_state_acc', 'adv_ns3_state_acc', 'adv_ns1_attn_wts',
       'adv_ns2_attn_wts', 'adv_ns3_attn_wts', 'atk_ante_align',
       'atk_ante_rel', 'atk_conseq_align', 'atk_conseq_rel',
       'adv_ns1_attn_ratio', 'adv_ns2_attn_ratio', 'adv_ns3_attn_ratio'],
      dtype=object)

In [30]:
def get_col_as_np(df, tgt_col_name, filter_kvs = [], sort_by="num_repeats"):
    for k, v in filter_kvs:
        df = df[df[k].eq(v)]
    df = df.sort_values(by=[sort_by])
    x = df[sort_by].to_numpy()
    y = df[tgt_col_name].to_numpy()
    return x, y

In [42]:

pd.set_option('display.precision', 2)

In [43]:
suppress_rule_df[[
    "num_vars",
    "embed_dim",
    "adv_ns3_state_acc",
    "adv_ns1_attn_wts",
    "atk_ante_align",
    "atk_conseq_align",
    "atk_ante_rel",
    "atk_conseq_rel",
]]

,num_vars,embed_dim,adv_ns3_state_acc,adv_ns1_attn_wts,atk_ante_align,atk_conseq_align,atk_ante_rel,atk_conseq_rel
0,64,128,1.0,0.26,0.22,0.54,1.50,3.03
1,48,96,1.0,0.29,0.97,1.00,3.86,5.13
2,32,64,1.0,0.32,1.00,0.99,5.94,3.40
3,16,32,1.0,0.33,1.00,1.00,3.90,3.88

In [44]:
knowledge_amnesia_df[[
    "num_vars",
    "embed_dim",
    "adv_ns1_state_acc",
    "adv_ns1_attn_wts",
    "atk_ante_align",
    "atk_conseq_align",
    "atk_ante_rel",
    "atk_conseq_rel",
]]

,num_vars,embed_dim,adv_ns1_state_acc,adv_ns1_attn_wts,atk_ante_align,atk_conseq_align,atk_ante_rel,atk_conseq_rel
0,64,128,1.0,0.41,0.80,1.0,3.60,6.70
1,48,96,1.0,0.43,1.00,1.0,5.91,6.56
2,32,64,1.0,0.37,0.98,1.0,4.97,5.34
3,16,32,1.0,0.37,0.81,1.0,2.63,5.42