In [1]:
import os
import sys
sys.path.insert(0, "..")
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

/home/antonxue/lib/miniconda3/envs/tfl/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Load dataframes
suppress_rule_df = pd.read_csv("../../_dump/learned_attacks/learned_suppress_rule.csv")
fact_amnesia_df = pd.read_csv("../../_dump/learned_attacks/learned_fact_amnesia.csv")
coerce_state_df = pd.read_csv("../../_dump/learned_attacks/learned_coerce_state.csv")

In [3]:
def get_col_as_np(df, tgt_col_name, filter_kvs = [], sort_by="num_attack_tokens"):
    for k, v in filter_kvs:
        df = df[df[k].eq(v)]
    df = df.sort_values(by=[sort_by])
    x = df[sort_by].to_numpy()
    y = df[tgt_col_name].to_numpy()
    return x, y

In [4]:
pd.set_option('display.precision', 2)
fact_amnesia_df[[
    "num_vars",
    "embed_dim",
    "adv_ns3_state_acc",
    "adv_suffix_amnesia_targets",
    "adv_suffix_amnesia_targets_std",
    "adv_suffix_amnesia_others",
    "adv_suffix_amnesia_others_std",
]].sort_values(by="num_vars", ascending=False)

,num_vars,embed_dim,adv_ns3_state_acc,adv_suffix_amnesia_targets,adv_suffix_amnesia_targets_std,adv_suffix_amnesia_others,adv_suffix_amnesia_others_std
1,64,128,1.00,0.77,0.07,0.11,4.63e-03
0,48,96,1.00,0.91,0.10,0.12,7.30e-03
2,32,64,1.00,0.63,0.05,0.09,7.81e-03
3,16,32,0.99,0.65,0.10,0.14,1.61e-02

In [5]:
pd.set_option('display.precision', 2)
suppress_rule_df[[
    "num_vars",
    "embed_dim",
    "adv_ns3_state_acc",
    "adv_ns2_suppd_wts",
    "adv_ns2_suppd_wts_std",
    "raw_ns2_suppd_wts",
    "raw_ns2_suppd_wts_std",
]].sort_values(by="num_vars", ascending=False)

,num_vars,embed_dim,adv_ns3_state_acc,adv_ns2_suppd_wts,adv_ns2_suppd_wts_std,raw_ns2_suppd_wts,raw_ns2_suppd_wts_std
2,64,128,1.0,0.16,0.02,0.29,0.03
1,48,96,1.0,0.18,0.02,0.28,0.03
0,32,64,1.0,0.17,0.02,0.27,0.03
3,16,32,1.0,0.13,0.02,0.25,0.03

In [6]:
pd.set_option('display.precision', 2)
coerce_state_df[[
    "num_vars",
    "embed_dim",
    "adv_ns3_state_acc",
    "adv_suffix_avg_mags",
    "adv_suffix_avg_mags_std",
    "raw_tokens_avg_mags",
    "raw_tokens_avg_mags_std"
]].sort_values(by="num_vars", ascending=False)

,num_vars,embed_dim,adv_ns3_state_acc,adv_suffix_avg_mags,adv_suffix_avg_mags_std,raw_tokens_avg_mags,raw_tokens_avg_mags_std
3,64,128,0.76,3.90,0.32,0.05,2.94e-03
1,48,96,0.74,1.45,0.17,0.06,3.87e-03
0,32,64,0.77,1.73,0.22,0.09,5.71e-03
2,16,32,0.57,2.00,0.52,0.18,1.06e-02